*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  /* To make the math easier */
  font-size: 62.5%;
}
body {
  padding: 1.5rem;
  box-sizing: border-box;
  display: flex;
}
.container {
  background-color: #92acd6;
  color: #ffffff;
  margin: auto;
  width: 50%;
  text-align: center;
  border-radius: 5px;
  padding: 1.5rem;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.3);
}
.col-1-of-6 {
  background-color: #fff;
  color: #000;
  border-radius: 5px;
}
#weather-details {
  list-style: none;
  padding-bottom: 3px;
}
hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin: 8px 8px;
}
.btn {
  margin-bottom: 1rem;
  padding: 9px;
  border-radius: 100px;
  border: none;
  background-color: #92acd6;
  color: #ffffff;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: box-shadow 0.2s;
  margin: 12px 12px;
}
.btn:hover {
  color: #cccccc;
}
.btn:active {
  transform: translateY(4px);
  box-shadow: 0 4.2px 4.2px rgba(0, 0, 0, 0.6);
}
/* Modal styling */
.modal-container {
  position: fixed;
  background-color: red;
  border-right: 1px solid #000;
  left: 50%;
  width: 70%;
  max-width: 40rem;
  transform: translate(-50%, 80%);
  padding: 20px;
  border-radius: 8px;
}
