/* RGBA colors: rgb(146, 172, 214, 0.8) */
/* Translation percents: -50%, 80% */
/* The css is all mien, so feel free to use whatever floats your boat. */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  /* To make the math easier */
  font-size: 62.5%;
}
body {
  padding: 1.5rem;
  box-sizing: border-box;
  display: flex;
}
hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin: 1.5rem 8px;
}
a:link,
a:visited {
  text-decoration: none;
}
.container {
  background-color: #92acd6;
  color: #ffffff;
  margin: auto;
  width: 50%;
  text-align: center;
  border-radius: 5px;
  padding: 1.5rem;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.3);
}
.col-1-of-6 {
  background-color: #fff;
  color: #000;
  border-radius: 5px;
  padding-bottom: 2rem;
}
#weather-details {
  list-style: none;
  padding-bottom: 3px;
}
.btn {
  margin-bottom: 1rem;
  padding: 9px;
  border-radius: 100px;
  border: none;
  background-color: #92acd6;
  color: #ffffff;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: all 0.2s;
  margin: 12px 12px;
}
.btn:hover {
  color: #cccccc;
}
.btn:active {
  transform: translateY(0.7px);
  box-shadow: 0 4.2px 4.2px rgba(0, 0, 0, 0.6);
}
/* Modal styling */
.modal-container {
  position: fixed;
  background-color: #fff;
  z-index: 1000;
  left: 50%;
  width: 70%;
  max-width: 40rem;
  transform: translate(-50%, -200%);
  padding: 20px;
  border-radius: 8px;
  transition: transform 0.3s ease-in-out;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.modal-window:before {
  content: '';
  position: fixed;
  display: none;
  background-color: rgba(46, 172, 214, 0.8);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.modal-window:target:before {
  display: block;
}
.modal-window:target .modal-container {
  transform: translate(-50%, 80%);
}
#save-data-input {
  margin: 0 1rem;
  border: 1px transparent;
}
#save-data-input:focus {
  border: 1px solid #92acd6;
}
.save-data:focus {
  outline: none;
}
